@font-face {
            font-family: 'Louis George Cafe';
            src: url('assets/Louis George Cafe.woff2');
            font-weight: normal;
            font-style: normal;
        }

        * {
            margin: 0;
            padding: 0;
            font-family: "Louis George Cafe";
        }

        html, body {
            height: 100vh;
        }

        /* ===== HEADER ===== */
        header {
            background-color: #222B35;
            color: #ffffff;
            padding: 15px;

            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            box-shadow: #000 0px -1px 20px;
        }

        header div {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #Logomarca {
            grid-column: 2;
        }

        #Contatos {
            grid-column: 3;
            justify-content: right;
        }

        #itens img {
            margin: 0 5px;
        }

        /* ===== MAIN ===== */
        main {
            padding: 20px;
        }

        main h1 {
            font-size: 16px;
        }

        #cards_container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
        }

        /* ===== CARD ===== */
        .cards {
            width: 100%;
            height: 100px;

            background-color: rgb(0, 192, 192);
            border-radius: 20px;
            padding: 10px;
            box-sizing: border-box;

            display: grid;
            grid-template-columns: 3fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            overflow: hidden;
        }

        .cards h2 {
            color: white;
            font-size: 12px;
        }

        .cards h3 {
            color: rgb(80, 80, 80);
            font-size: 10px;
        }

        /* Área do título da causa */
        .causa-container {
            grid-row: 1;
        }

        /* Área da barra de meta */
        .meta-container {
            grid-row: 3;
            font-family: Arial, sans-serif;
            width: 80%;
        }

        .meta-info {
            font-size: 13px;
            display: grid;
            grid-template-columns: 4fr 1fr;

        }

        .barra-meta {
            width: 60%;
            height: 10px;
            background: #ddd;
            border-radius: 15px;
            overflow: hidden;
        }

        .progresso {
            height: 100%;
            background: #4CAF50;
            width: 0%;
            transition: width 0.5s ease;
        }

        /* Botão DOAR */
        .container-abrir {
            grid-row: 3;
            grid-column: 2;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        /* Inputs (se usar) */
        main input {
            display: block;
            width: 100%;
            height: 25px;
            border: 1px solid #222B35;
            border-radius: 10px;
        }